{%extends 'index.html'%}
{%block contant%}
{%load static%}
<div class="section-larger">
    <div class="container">

        <div class="insure-text bg-color-2 p-4">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9">
                    <h4 class="highlight"><strong class="text-yellow">Upto 80% Off*</strong><br> on Comprehensive Car
                        Insurance
                    </h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quo ullam id incidunt
                        accusamus numquam.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
                    <div class="img-container-sml text-right">
                        <img src="images/about_step_1.png" alt="">
                    </div>
                </div>

            </div>
        </div>
        <form action="{%url 'businesssave'%}" method="post" data-class-url="{%url 'test'%}" class="idform" data-date-url="{%url 'calculate'%}"
              data-country-url="{%url 'country'%}">
            {%csrf_token%}
            <h5>Need some more details</h5>
            <div class="row">

                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="insure-form">


                        <h6>Personal Info</h6>
                        <div class="form-group">
                            <input type="text" class="form-control" id="formGroupExampleInput12" placeholder="Name" name="name" required>
                        </div>
                        <h6>Date Of Birth</h6>
                        <div class="form-group">
                            <input type="date" class="form-control" id="formGroupExampleInput22" name="bbirth" required>
                        </div>

                        <h6>Purpose to your visit</h6>
                        <div class="form-group form-row">
                            <div class="col-lg-12">
                                <select class="form-control custom-select mr-sm-2" id="select1" name="typeinsurances" required>
                                    <option selected>Select List</option>
                                    {%for x in typeinsurance%}
                                    <option value="{{x.id}}">{{x.Title}}</option>
                                    {%endfor%}
                                </select>
                            </div>

                        </div>

                        <h6>Country to be travel</h6>
                        <div class="form-group form-row">
                            <div class="col-lg-12">
                                <select class="form-control custom-select mr-sm-2" id="select2" name="classinsurance" required>


                                </select>
                            </div>

                            <h6>People to be Covered</h6>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" id="inlineFormCustomSelect33" name="person" value="1" readonly>

                            </div>

                        </div>


                    </div>

                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="insure-form">
                        <h6>Date of Travel Start</h6>
                        <div class="form-group">
                            <input type="date" class="form-control" id="date1" name="sdate" required>
                        </div>
                        <h6>Date of Travel End</h6>
                        <div class="form-group">
                            <input type="date" class="form-control" id="date2" name="edate" required>
                        </div>
                        <h6>Days you will stay</h6>
                        <div class="form-group" id="dds23">

                        </div>

                        <h6>Country to be travel</h6>
                        <div class="form-group form-row">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" placeholder="Country Name" name="country" required>
                            </div>

                        </div>

                    </div>


                </div>

            </div>
            <a href="" class="btn btn-ter-round mt-4">Reset</a>
            <button type="submit" class="btn btn-prim-round mt-4">
                Quotation
            </button>
        </form>

    </div>
</div>
</div>

<script>
$('#select1').change(function(){
 var url=$('.idform').attr('data-class-url');
 var insurancetype= $(this).val();

$.ajax({
    url:url,
    data:{
    'insurancetype':insurancetype
    },
    success:function(data){
    $('#select2').html(data)

    }


})

});
$('#date2, #date1').change(function(){
    var url=$('.idform').attr('data-date-url');
    var date10=$('#date1').val();
    var date20=$('#date2').val();

    $.ajax({
    url:url,
    data:{
    'date10':date10,
    'date20':date20,
    },
    success:function(data){
        $('#dds23').html(data)
    }

})


});


</script>

{%endblock%}