<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%extends 'index.html'%}
{%block contant%}
{%load static%}
<div class="section-larger">
    <div class="container">
        <div class="alert alert-success" role="alert">
            <b>Your Order is success </b>
        </div>
        <div class="alert alert-info" role="alert">
            Wait for Companies call. If you face any problem contact +880-17-777-05428
        </div>
    </div>
</div>
</body>
</html>
{%endblock%}