.navbar-brand img {
    width: auto;
    max-height: 50px;
    padding: 0px 0px;
    margin-top: 12px;
}
.logos{
width:40px;
}
h1.text-pink {
    font-weight: 700;
}
.iimage {
    width: 60px;
}
img.lglogo {
    width: 60px;
}
.headerop{
text-align:center;
}
.des{
border:2px solid gray;
padding:10px;
background-color:#fff;
}

